<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Table</title>

    <link rel="stylesheet" href="../styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet"> 
</head>
<body id="submitBody">
    <header>
        <h1>Log Table</h1>
    </header>
    
    <div class="table">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Comment</th>
            </tr>
        
            <% logArray.forEach(element => { %>
                <tr> 
             <td><%= element.id %></td>  
             <td><%= element.name %></td>  
             <td><%= element.location %></td>  
             <td><%= element.comment %></td>
            </tr>
            <% }) %>         
            
    </table>
      
   
</div>
</body>
</html>